openai 
langchain
langchain-openai
langchain_pinecone
langchain[docarray]
unstructured
pdf2image
pdfminer.six
pillow-heif
opencv-python-headless
unstructured_inference
pikepdf
poppler-utils
docarray
pydantic==1.10.8
pytube 
python-dotenv
tiktoken 
pinecone-client 
scikit-learn
ruff
git+https://github.com/openai/whisper.git
